<!doctype html>
<html>
<head>
    <title>Enter a new student.</title>
</head>

<body>

  <form action="/student-add" method="POST">
      <label>Enter student's first name:
          <input type="text" name="first_name">
      </label>
      <label>Enter student's last name:
          <input type="text" name="last_name">
      </label>
      <label>Enter student's Github username:
          <input type="text" name="github">
      </label>
      <input type="submit" value="Enter Student">
  </form>

</body>
</html>